<%- include('includes/head') %>

<form action="/add-user" method="post">
  <label>
    <span>Name</span>
    <input type="text" name="name" />
  </label>
  <button type="submit">Add User</button>
</form>

<%- include('includes/end') %>
