<%- include('includes/head') %>

<% if(users.length) { %>
  <h1>Users:</h1>
  <ul>
    <% for(var i = 0; i < users.length; i++) {%>
      <li><%= users[i].name %></li>
    <% } %>
  </ul>

<% } else { %>
  <h1>There is no users</h1>
<% } %>

<%- include('includes/end') %>
