<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <section class="user" id="user">
    <img class="user__img" src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
    <div>
      <h2 class="user__name">Alma Roberts</h2>
      <p class="user__email">alma.roberts@example.com</p>
    </div>
  </section>

  <script src="/js/users.js"></script>
</body>
</html>
